In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.style as style
import numpy as np

In [2]:
survey = pd.read_csv('employee_exit_survey_clean_final.csv')

In [3]:
survey['age'].value_counts()

56+      558
51-55    185
41–45     80
46-50     63
41-45     61
46–50     59
26-30     57
31–35     52
36-40     51
36–40     51
26–30     50
21–25     44
21-25     40
31-35     39
18-20     17
Name: age, dtype: int64

In [4]:
survey['new_age'] = survey['age'].str.strip().str.replace(' ','').str.replace('–','-')
survey['new_age'].value_counts()

56+      558
51-55    185
41-45    141
46-50    122
26-30    107
36-40    102
31-35     91
21-25     84
18-20     17
Name: new_age, dtype: int64

In [5]:
survey.drop('age', axis=1, inplace=True)

In [7]:
survey.rename(columns={'new_age':'age'}, inplace=True)

In [10]:
survey['age'].value_counts()

56+      558
51-55    185
41-45    141
46-50    122
26-30    107
36-40    102
31-35     91
21-25     84
18-20     17
Name: age, dtype: int64

In [12]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1524 entries, 0 to 1523
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      1524 non-null   int64
 1   index                           1524 non-null   int64
 2   cf_to_private_sector            1524 non-null   bool
 3   cf_health                       1524 non-null   bool
 4   cf_family                       1524 non-null   bool
 5   cf_dept_dissatisfaction         1524 non-null   bool
 6   cf_job_dissatisfaction          1524 non-null   bool
 7   cf_interpersonal_conflict       1524 non-null   bool
 8   cf_other                        1524 non-null   bool
 9   institute_recognition           1524 non-null   bool
 10  institute_job_security          1524 non-null   bool
 11  dept_workload                   1524 non-null   bool
 12  dept_work_life_balance          1524 non-null   bool
 13  dept_work_environment           1524 non-null   bool
 14  gender                          1524 non-null   object
 15  service_years                   1293 non-null   object
 16  exit_year                       1524 non-null   int64
 17  college                         1524 non-null   object
 18  cf_dept_or_job_dissatisfaction  1524 non-null   bool
 19  age                             1407 non-null   object
dtypes: bool(13), int64(3), object(4)
memory usage: 102.8+ KB

In [14]:
survey.to_csv('employee_exit_survey_clean_final.csv')