# More Cleaning and Adding Useful Columns
This notebook makes a few minor changes:
1. Adds a column 'college' so analysis can aggregate by business area.
2. Adds 'exit_year' so change of time can be explored.

In [5]:
import pandas as pd

dete_all = pd.read_csv('dete_survey_2014.csv', encoding='cp1252', na_values='Not Stated')
tafe_all = pd.read_csv('tafe_survey_2013.csv', encoding='cp1252')

dete_clean = pd.read_csv('dete_clean.csv')
tafe_clean = pd.read_csv('tafe_clean.csv')

In [16]:
dete_cease = dete_all['Cease Date']

pattern =r"([1-2][0-9][0-9][0-9])"

dete_cease = dete_cease.str.extract(pattern)

In [23]:
dete_cease = dete_cease.fillna('0')

In [24]:
dete_cease = dete_cease.astype('int64')

In [50]:
years = dete_cease[dete_cease >= 2006]

years_mean = years.mean()

dete_cease = dete_cease.replace(0,2012)

In [88]:
dete_cease.value_counts(dropna=False)

2012    388
2013    380
2014     51
2010      2
2006      1
Name: exit_year, dtype: int64

In [52]:
dete_clean['exit_year'] = dete_cease

In [53]:
dete_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 822 non-null    int64
 1   Unnamed: 0.1               822 non-null    int64
 2   cf_to_public_sector        822 non-null    bool
 3   cf_to_private_sector       822 non-null    bool
 4   cf_health                  822 non-null    bool
 5   cf_family                  822 non-null    bool
 6   cf_dept_dissatisfaction    822 non-null    bool
 7   cf_job_dissatisfaction     822 non-null    bool
 8   cf_interpersonal_conflict  822 non-null    bool
 9   cf_other                   822 non-null    bool
 10  institute_recognition      822 non-null    bool
 11  institute_job_security     822 non-null    bool
 12  dept_workload              822 non-null    bool
 13  dept_work_life_balance     822 non-null    bool
 14  dept_work_environment      822 non-null    bool
 15  gender                     822 non-null    object
 16  age                        811 non-null    object
 17  service_years              697 non-null    object
 18  exit_year                  822 non-null    int64
dtypes: bool(13), int64(3), object(3)
memory usage: 49.1+ KB

In [54]:
#dete_clean = dete_clean.drop(dete_clean.columns[0:2], axis=1)

In [55]:
dete_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   cf_to_public_sector        822 non-null    bool
 1   cf_to_private_sector       822 non-null    bool
 2   cf_health                  822 non-null    bool
 3   cf_family                  822 non-null    bool
 4   cf_dept_dissatisfaction    822 non-null    bool
 5   cf_job_dissatisfaction     822 non-null    bool
 6   cf_interpersonal_conflict  822 non-null    bool
 7   cf_other                   822 non-null    bool
 8   institute_recognition      822 non-null    bool
 9   institute_job_security     822 non-null    bool
 10  dept_workload              822 non-null    bool
 11  dept_work_life_balance     822 non-null    bool
 12  dept_work_environment      822 non-null    bool
 13  gender                     822 non-null    object
 14  age                        811 non-null    object
 15  service_years              697 non-null    object
 16  exit_year                  822 non-null    int64
dtypes: bool(13), int64(1), object(3)
memory usage: 36.2+ KB

In [56]:
dete_clean['college'] = 'DETE'

In [57]:
dete_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   cf_to_public_sector        822 non-null    bool
 1   cf_to_private_sector       822 non-null    bool
 2   cf_health                  822 non-null    bool
 3   cf_family                  822 non-null    bool
 4   cf_dept_dissatisfaction    822 non-null    bool
 5   cf_job_dissatisfaction     822 non-null    bool
 6   cf_interpersonal_conflict  822 non-null    bool
 7   cf_other                   822 non-null    bool
 8   institute_recognition      822 non-null    bool
 9   institute_job_security     822 non-null    bool
 10  dept_workload              822 non-null    bool
 11  dept_work_life_balance     822 non-null    bool
 12  dept_work_environment      822 non-null    bool
 13  gender                     822 non-null    object
 14  age                        811 non-null    object
 15  service_years              697 non-null    object
 16  exit_year                  822 non-null    int64
 17  college                    822 non-null    object
dtypes: bool(13), int64(1), object(4)
memory usage: 42.7+ KB

In [58]:
dete_clean.to_csv('dete_clean_13.1127')

In [60]:
tafe_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 72 columns):
 #   Column                                                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                                                         --------------  -----
 0   Record ID                                                                                                                                                      702 non-null    int64
 1   Institute                                                                                                                                                      702 non-null    object
 2   WorkArea                                                                                                                                                       702 non-null    object
 3   CESSATION YEAR                                                                                                                                                 695 non-null    float64
 4   Reason for ceasing employment                                                                                                                                  701 non-null    object
 5   Contributing Factors. Career Move - Public Sector                                                                                                              437 non-null    object
 6   Contributing Factors. Career Move - Private Sector                                                                                                             437 non-null    object
 7   Contributing Factors. Career Move - Self-employment                                                                                                            437 non-null    object
 8   Contributing Factors. Ill Health                                                                                                                               437 non-null    object
 9   Contributing Factors. Maternity/Family                                                                                                                         437 non-null    object
 10  Contributing Factors. Dissatisfaction                                                                                                                          437 non-null    object
 11  Contributing Factors. Job Dissatisfaction                                                                                                                      437 non-null    object
 12  Contributing Factors. Interpersonal Conflict                                                                                                                   437 non-null    object
 13  Contributing Factors. Study                                                                                                                                    437 non-null    object
 14  Contributing Factors. Travel                                                                                                                                   437 non-null    object
 15  Contributing Factors. Other                                                                                                                                    437 non-null    object
 16  Contributing Factors. NONE                                                                                                                                     437 non-null    object
 17  Main Factor.     Which of these was the main factor for leaving?                                                                                               113 non-null    object
 18  InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction                                                                         608 non-null    object
 19  InstituteViews. Topic:2. I was given access to skills training to help me do my job better                                                                     613 non-null    object
 20  InstituteViews. Topic:3. I was given adequate opportunities for personal development                                                                           610 non-null    object
 21  InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%                                                            608 non-null    object
 22  InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had                                                                615 non-null    object
 23  InstituteViews. Topic:6. The organisation recognised when staff did good work                                                                                  607 non-null    object
 24  InstituteViews. Topic:7. Management was generally supportive of me                                                                                             614 non-null    object
 25  InstituteViews. Topic:8. Management was generally supportive of my team                                                                                        608 non-null    object
 26  InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me                                                          610 non-null    object
 27  InstituteViews. Topic:10. Staff morale was positive within the Institute                                                                                       602 non-null    object
 28  InstituteViews. Topic:11. If I had a workplace issue it was dealt with quickly                                                                                 601 non-null    object
 29  InstituteViews. Topic:12. If I had a workplace issue it was dealt with efficiently                                                                             597 non-null    object
 30  InstituteViews. Topic:13. If I had a workplace issue it was dealt with discreetly                                                                              601 non-null    object
 31  WorkUnitViews. Topic:14. I was satisfied with the quality of the management and supervision within my work unit                                                609 non-null    object
 32  WorkUnitViews. Topic:15. I worked well with my colleagues                                                                                                      605 non-null    object
 33  WorkUnitViews. Topic:16. My job was challenging and interesting                                                                                                607 non-null    object
 34  WorkUnitViews. Topic:17. I was encouraged to use my initiative in the course of my work                                                                        610 non-null    object
 35  WorkUnitViews. Topic:18. I had sufficient contact with other people in my job                                                                                  613 non-null    object
 36  WorkUnitViews. Topic:19. I was given adequate support and co-operation by my peers to enable me to do my job                                                   609 non-null    object
 37  WorkUnitViews. Topic:20. I was able to use the full range of my skills in my job                                                                               609 non-null    object
 38  WorkUnitViews. Topic:21. I was able to use the full range of my abilities in my job. ; Category:Level of Agreement; Question:YOUR VIEWS ABOUT YOUR WORK UNIT]  608 non-null    object
 39  WorkUnitViews. Topic:22. I was able to use the full range of my knowledge in my job                                                                            608 non-null    object
 40  WorkUnitViews. Topic:23. My job provided sufficient variety                                                                                                    611 non-null    object
 41  WorkUnitViews. Topic:24. I was able to cope with the level of stress and pressure in my job                                                                    610 non-null    object
 42  WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction                                                        611 non-null    object
 43  WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance                                                    606 non-null    object
 44  WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area                       610 non-null    object
 45  WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date  609 non-null    object
 46  WorkUnitViews. Topic:29. There was adequate communication between staff in my unit                                                                             603 non-null    object
 47  WorkUnitViews. Topic:30. Staff morale was positive within my work unit                                                                                         606 non-null    object
 48  Induction. Did you undertake Workplace Induction?                                                                                                              619 non-null    object
 49  InductionInfo. Topic:Did you undertake a Corporate Induction?                                                                                                  432 non-null    object
 50  InductionInfo. Topic:Did you undertake a Institute Induction?                                                                                                  483 non-null    object
 51  InductionInfo. Topic: Did you undertake Team Induction?                                                                                                        440 non-null    object
 52  InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                      555 non-null    object
 53  InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                           555 non-null    object
 54  InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?                                                                                 555 non-null    object
 55  InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?                                                                                     530 non-null    object
 56  InductionInfo. On-line Topic:Did you undertake a Institute Induction?                                                                                          555 non-null    object
 57  InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?                                                                                 553 non-null    object
 58  InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?                                                                                 555 non-null    object
 59  InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]                                                555 non-null    object
 60  InductionInfo. Induction Manual Topic: Did you undertake Team Induction?                                                                                       555 non-null    object
 61  Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?                                                      608 non-null    object
 62  Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?                                                    594 non-null    object
 63  Workplace. Topic:Does your workplace promote and practice the principles of employment equity?                                                                 587 non-null    object
 64  Workplace. Topic:Does your workplace value the diversity of its employees?                                                                                     586 non-null    object
 65  Workplace. Topic:Would you recommend the Institute as an employer to others?                                                                                   581 non-null    object
 66  Gender.     What is your Gender?                                                                                                                               596 non-null    object
 67  CurrentAge.     Current Age                                                                                                                                    596 non-null    object
 68  Employment Type.     Employment Type                                                                                                                           596 non-null    object
 69  Classification.     Classification                                                                                                                             596 non-null    object
 70  LengthofServiceOverall. Overall Length of Service at Institute (in years)                                                                                      596 non-null    object
 71  LengthofServiceCurrent. Length of Service at current workplace (in years)                                                                                      596 non-null    object
dtypes: float64(1), int64(1), object(70)
memory usage: 395.0+ KB

In [61]:
tafe_exit = tafe_all['CESSATION YEAR']

In [63]:
tafe_exit.value_counts(dropna=False)

2011.0    268
2012.0    235
2010.0    103
2013.0     85
NaN         7
2009.0      4
Name: CESSATION YEAR, dtype: int64

In [64]:
years = tafe_exit[tafe_exit >= 2009]

years_mean = years.mean()

In [72]:
years_mean

2011.4230215827338

In [73]:
years = years.fillna(0)

In [74]:
tafe_exit = tafe_exit.replace(0,2011)

In [76]:
years.value_counts(dropna=False)

2011.0    268
2012.0    235
2010.0    103
2013.0     85
2009.0      4
Name: CESSATION YEAR, dtype: int64

In [77]:
tafe_clean['exit_year'] = years

In [87]:
tafe_clean['exit_year'].value_counts(dropna=False)

2011.0    268
2012.0    235
2010.0    103
2013.0     85
NaN         7
2009.0      4
Name: exit_year, dtype: int64

In [80]:
#tafe_clean = tafe_clean.drop(tafe_clean.columns[0], axis=1)

In [81]:
#tafe_clean['college'] = 'TAFE'

In [89]:
tafe_clean['exit_year'] = tafe_clean['exit_year'].fillna(2011)

In [91]:
tafe_clean['exit_year'].value_counts(dropna=False)

2011.0    275
2012.0    235
2010.0    103
2013.0     85
2009.0      4
Name: exit_year, dtype: int64

In [92]:
tafe_clean['exit_year'] = tafe_clean['exit_year'].astype('int64')

In [93]:
tafe_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   cf_to_public_sector        702 non-null    bool
 1   cf_to_private_sector       702 non-null    bool
 2   cf_health                  702 non-null    bool
 3   cf_family                  702 non-null    bool
 4   cf_dept_dissatisfaction    702 non-null    bool
 5   cf_job_dissatisfaction     702 non-null    bool
 6   cf_interpersonal_conflict  702 non-null    bool
 7   cf_other                   702 non-null    bool
 8   institute_recognition      702 non-null    bool
 9   institute_job_security     702 non-null    bool
 10  dept_workload              702 non-null    bool
 11  dept_work_life_balance     702 non-null    bool
 12  dept_work_environment      702 non-null    bool
 13  gender                     702 non-null    object
 14  age                        596 non-null    object
 15  service_years              596 non-null    object
 16  exit_year                  702 non-null    int64
 17  college                    702 non-null    object
dtypes: bool(13), int64(1), object(4)
memory usage: 36.5+ KB

In [94]:
tafe_clean.to_csv('tafe_clean_13.1146')